version: "3.9"

services:
  api:
    build: .
    container_name: api-server
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis-cache2
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
